

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    color: #47535B;
}

.navbar-custom {
    background-color: white;   
}
#big-banner {
    position: relative;
    background-color: grey;
    height: 530px;
    background-image: url(../img/banner.png);
    background-size: cover;
    padding-left: 30px;
    padding-top: 10px;   
}

.container {
    min-width: 100%;
}

.promises {
    background-color: #F3F5F7;  
    padding-bottom: 20px;
    text-align: center;
}

h1{
   font-size: 40px;
   font-weight: 800;
   color: white;
}

h2 {
    font-size: 18px; 
    font-weight: 600;
}

p {
    font-size: 12px;  
    line-height: 1.8;
}

.signup-form {
    padding-bottom: 10px;
    padding-right: 10px;
    margin-top: 20px;
    padding-left: 10px;
    background-color: rgba(71, 83, 91, 0.8);
    display: inline-block;
}

form {
    padding: 10px;
}

#big-banner p {
    color: white;   
}

.hero-lines {  
    padding: 0px 10px 4px 10px;
	border-bottom: 116px solid rgba(71, 83, 91, 0.8);
	border-left: 8px solid transparent;
	border-right: 20px solid transparent;
	height: 0px;
	width: 750px;
}

.hero-lines h1 {
    padding-top: 10px;   
}

.hero-lines p {
    margin-bottom: 10px;
    font-size: 14px;
}

.divider-vertical {
    border-right: 1px dotted #464B4F;
    height: 360px;
}

.text-center {
    text-align: center; 
    padding-top: 30px;
    padding-bottom: 10px;
}

footer {
    padding: 15px 0px 3px 10px;
}

.btn-custom {
    padding: 7px 30px 7px 30px;
    color: white;
    background: #D42333;
    border-radius: 4px;
    border-bottom: 4px solid #B51624;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50);
    -moz-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #B51624;
    box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50);
    margin-left: 14px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
}

.btn-custom:hover {
    color: white;
    background: #B51624;
    border: 1px solid #850914;
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #850914;
    -moz-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #850914;
    box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #850914;
}


.landing-video {
    width: 260px;
    height: 180px;
    background-color: rgba(71, 83, 91, 0.8);
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.hand-written {
    font-family: 'Delius', cursive; 
    font-size: 18px;
}

.testimonial-text {
    font-family: serif;   
}

.eatads-logo {
    width: 100px;
    height: 40px;
    margin-top: -10px;
}

.signup-form input {
    height: 40px;
}

.signup-form input.country-code {
    width: 60px; 
    margin-left: 14px;
    margin-right: 4px;
}

.footer-links {
    margin-top: -6px;   
}
.footer-links a {
    padding-left: 6px;
    padding-right: 10px;
    color: #47535B;
}

.highligted-text {
    font-weight: 600;
    font-style: italic;
}

.form-inline {
    padding-left: 0px;
    padding-top: 12px;

}

.error-message {
    padding: 4px 8px 4px 8px;
    width: 750px;
    background-color: #FFF8F8;
    color: #EB6969;
    display: none;
}

.thank-you {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 20px;
    background-color: rgba(218, 246, 187, .95);
    height: 60px;
    font-weight: 600;
    width: 700px;
}

.thank-you span {
    line-height: 60px;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}







