

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
    color: #47535B;
}

.navbar-custom {
    background-color: white;   
}
#big-banner {
    position: relative;
    background: url(../img/monitorly/bcg-pattern.png);
    height: 330px;
    background-color: #47535B;
    padding-left: 0px;
    text-align: center;
}

.container {
    min-width: 100%;
}

.promises {
    background-color: #F3F5F7;  
    padding-bottom: 20px;
    text-align: center;
}

h1{
   font-size: 40px;
   font-weight: 800;
   color: white;
}

h2 {
    font-size: 18px; 
    font-weight: 600;
}

p {
    font-size: 12px;  
    line-height: 1.8;
}

.signup-form {
    width: 750px;
    margin-top: 20px;
    margin-left: 18px;
    padding: 0px 10px 4px 10px;
    margin: 0 auto;
}

form {
    padding: 10px;
}

#big-banner p {
    color: white;   
}

.hero-lines {  
    padding: 0px 10px 4px 10px;
    margin-left: 18px;
	width: 750px;
    margin: 0 auto;
}

.hero-lines h1 {
    padding-top: 4px; 
    margin-bottom: 20px;
}

.hero-lines p {
    margin-bottom: 10px;   
}

.divider-vertical {
    border-right: 1px dotted #464B4F;
    height: 360px;
}

.text-center {
    text-align: center; 
}

footer {
    padding: 15px 0px 3px 10px;
}

.landing-footer {
    background-color: #F6F6F6;  
    margin-top: 20px;
}

.btn-custom {

    padding: 7px 30px 7px 30px;
    color: #47535B;
    background: #F9CA3C;
    border-radius: 4px;
    border-bottom: 4px solid #E8B51B;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50);
    -moz-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #B51624;
    box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50);
    margin-left: 14px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
}

.btn-custom:hover {
    color: #303A40;
    background: #E8B51B;
    border: 1px solid #CFA011;
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #CFA011;
    -moz-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #CFA011;
    box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #CFA011;
}

.landing-video {
    width: 260px;
    height: 180px;
    background-color: rgba(71, 83, 91, 0.8);
    margin-top: 20px;
    margin-left: 18px;
    padding-left: 10px;
    padding-top: 10px;
}

.hand-written {
    font-family: 'Delius', cursive; 
    font-size: 18px;
}

.testimonial-text {
    font-family: serif;   
}

.eatads-logo {
    width: 90px;
    height: 90px;
    margin-top: -10px;
}

.signup-form input {
    height: 40px;
}

.signup-form input.country-code {
    width: 60px; 
    margin-left: 14px;
    margin-right: 4px;
}

.footer-links {
    margin-top: -6px;   
}
.footer-links a {
    padding-left: 6px;
    padding-right: 10px;
    color: #47535B;
}

.highligted-text {
    font-weight: 600;
    font-style: italic;
}

.form-inline {
    padding-left: 0px;
    padding-top: 12px;

}

.process-step {
    position: relative; 
    width: auto;
    margin-top: 10px;
    margin-bottom: 90px;
}

.process-step-rectangle {
    background-color: #3E78B3;  
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    float: left;
    width: 210px;
}

.process-step-rectangle h2 {
    margin-top: 10px;
    margin-bottom: 6px;
}

.process-step-arrow {
    width: 0px; 
	height: 0; 
	border-top: 34px solid transparent;
	border-bottom: 32px solid transparent;
	border-left: 30px solid #3E78B3;
    position: absolute;
    left: 210px;
    float: left;
}

#process {
    margin-bottom: 20px;   
}

.thank-you {
    background-color: antiquewhite;
    width: 700px;
    margin-left: 227px;
}

.error-message {
    background-color: antiquewhite;
    width: 700px;
    margin-left: 227px;
}








