{#.}
<table>
    <tr>
        <td>Event Name : </td>    
        <td>{name}</td>
    </tr>
    <tr>
        <td>Event Create Date : </td>    
        <td>{createddate}</td>
    </tr>
    <tr>
        <td>Mails Details</td>
        <td>
            <table>
                {#emailanalytics}
                <tr>
                    <td>User Email: </td>
                    <td>{useremail}</td>
                </tr>
                <tr>
                    <td>Mail Opened : </td>
                    <td>{lastclicked}</td>
                </tr>
                <tr>
                    <td>Total Times Mail Opened : </td>
                    <td>{openedcount}</td>
                </tr>
                <tr>
                    <td>Total Times Mail Clicked and went to Your Showcase : </td>
                    <td>{clickcount}</td>
                </tr>
                {/emailanalytics}
            </table>
        </td>
    </tr>
</table>


{/.}