{#SiteListing}
<a href="#" class="list-group-item site-list-item">
                    <div class="pull-right">
                        <button onclick="setlisting('{id}');" class="glyphicon glyphicon-minus small-btn minus" data-container="body" data-toggle="popover" data-placement="left" data-content="" data-trigger="manual">
                        </button>
                    </div>
    <div onclick="showDetails('{id}');"> 
            <div class="pull-left">
                        <img class="media-object" src="{thumbnail}" alt="" height="60px" width="90px">   
                    </div>   
  
                    <h4 class="list-group-item-heading">{name}</h4>
                    <p class="list-group-item-text">{type} &nbsp; &nbsp; {length} x {width} {sizeunit}</p>
                    <p class="list-group-item-text price">{basecurrency} {price} <span class="per-month">per mo</span></p>
                
            </div> 
                    
                </a>
{/SiteListing}