/*
    Document   : custome
    Created on : 2 Jan, 2014, 2:32:14 PM
    Author     : user
    Description:
        Purpose of the stylesheet follows.
*/

.counter {
    cursor: default !important;
}

.bigmap {
    width:704px;
    height:410px;
    margin:18px 0;
}
.imagelist .type {
    cursor: default !important;
}

span #AudienceTag_id label {
    font-weight: normal !important;
}
textarea {resize:none}



.modal#homepage-overlay .modal-dialog {
     width:80%;
}

.modal#homepage-overlay .modal-content {
     width:100%;
     height:540px;
     background-color:white;
}

.modal#homepage-overlay .modal-body .modal-body-wrapper {
     padding:20px 20px 10px 20px;
}


.modal#homepage-overlay .modal-body .main-msg-wrapper {
     background-color:#D2EDFC;
	 padding-top:16px;
	 padding-bottom:16px;
}

.modal#homepage-overlay .modal-body p.main-msg-big {
     font-size:32px;
     color: #12699E;
     padding-left:16px;
}

.modal#homepage-overlay .modal-body p.main-msg-small {
     font-size:26px;
     color: #47535B;
     padding-left:16px;
}

.modal#homepage-overlay .modal-body p.main-msg b {
     color:#0E547E;
}

.modal#homepage-overlay .modal-body p.secondary-msg {
     font-size:20px;
     color:#47535B;
     margin-top:22px;
}

.modal#homepage-overlay .modal-body p.other-msg {
     font-size:16px;
     color:#47535B;
     margin-top:40px;
}

.modal#homepage-overlay .modal-body p.other-msg .glyphicon {
     font-size:12px;
}

.modal#homepage-overlay .modal-content {
     padding:0px;
}


.modal#homepage-overlay h4.modal-title {
     text-align:left;
     margin-top:0px;
}

.modal#homepage-overlay h4.modal-title span {
     vertical-align:bottom;
	 font-size:22px;
}

.modal#homepage-overlay .modal-footer {
     background-color: #EAEEF1;
}