   @font-face {
    font-family: "Proximanovabold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/proximanova-bold-webfont.woff") format("woff"),
        url("../fonts/proximanova-bold-webfont.ttf") format("truetype"),
        url("../fonts/proximanova-bold-webfont.svg#webfontFLOUcFt7") format("svg");
}
@font-face {
    font-family: "Proximanovaregular";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/proximanova-regular-webfont.woff") format("woff"),
        url("../fonts/proximanova-regular-webfont.ttf") format("truetype"),
        url("../fonts/proximanova-regular-webfont.svg#webfontFLOUcFt7") format("svg");
}

@font-face {
    font-family: "Proximanovaregularitalic";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/proximanova-regitalic-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/proximanova-regitalic-webfont.woff") format("woff"),
        url("../fonts/proximanova-regitalic-webfont.ttf") format("truetype"),
        url("../fonts/proximanova-regitalic-webfont.svg#webfontFLOUcFt7") format("svg");
}

@font-face {
    font-family: "ProximanovaitalicBold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/proximanova-boldit-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/proximanova-boldit-webfont.woff") format("woff"),
        url("../fonts/proximanova-boldit-webfont.ttf") format("truetype"),
        url("../fonts/proximanova-boldit-webfont.svg#webfontFLOUcFt7") format("svg");
}

@font-face {
    font-family: "ProximanovaSemiBold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/proximanova-semibold-webfont.woff") format("woff"),
        url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"),
        url("../fonts/proximanova-semibold-webfont.svg#webfontFLOUcFt7") format("svg");
}

@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

} 
@font-face {
    font-family: 'clear_sansbd';
    src: url('../fonts/positype_-_clearsans-bd-webfont.eot');
    src: url('../fonts/positype_-_clearsans-bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/positype_-_clearsans-bd-webfont.woff') format('woff'),
         url('../fonts/positype_-_clearsans-bd-webfont.ttf') format('truetype'),
         url('../fonts/positype_-_clearsans-bd-webfont.svg#clear_sansbd') format('svg');
    font-weight: normal;
    font-style: normal;

}

