/* Ion.RangeSlider, Nice Skin
// css version 1.7.0
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-diapason,
.irs-slider {
    background: url(../images/site/sprite-skin-nice.png) repeat-x;
}

.irs {
height: 15px;
width: 411px;
left: 55px;
top: -24px;
}
.filter-box .irs {width:226px;top: -12px; left:0;}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 5px; top: 25px;
}
    .irs-line-left {
        height: 5px;
        background-position: -1px -25px;
    }
    .irs-line-mid {
        height: 5px;
        background-position: 0 -1px;
        width: 85%;
    }
    .irs-line-right {
        height: 5px;
        background-position: -220px -25px;
    }
    
    .filter-box .irs-line-right  {background-position: -238px -25px;}
p.range {font:normal 16px Proximanovabold; color:#00669f; width:200px; display:inline-block;}
.irs-diapason {
    height: 5px; top: 25px;
    background-position: 0 -60px;
}

.irs-slider {
 
    top: 20px;
    background-position:-3px -71px;
	width: 14px;
	height: 14px;
}
#irs-active-slider, .irs-slider:hover {
     background-position:-3px -71px;
}

.irs-min, .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    display:none!important;
}
.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
   
    text-shadow: none;
    padding: 1px 5px;
    top: 34px;
    color:#0066a0;
    font:normal 14px ProximanovaSemiBold;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: none;
}

.irs-grid-pol {
    background: #99a4ac;
}
.irs-grid-text {
    color: #99a4ac;
}
