/*
UploadiFive
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
*/
#uploadifive-file_upload {margin:0 auto;}
.uploadifive-button {
	width:300px;
color: #1f1f1f;
font-size: 15px;
line-height: 23px;
}
.uploadifive-button:hover {
color: #1f1f1f;
font-size: 15px;
line-height: 23px;
}
