.views .yiiPager {float:left; margin:5px 0;}
.yiiPager {display: inline-block;
         padding-left: 0;
         border:none;
         border-radius: 4px;
         list-style:none;}
.col-sm-12.top-gap {padding-top:20px!important;}
.yiiPager > li {float:left; margin:0 1px;}
.yiiPager > li > a, .yiiPager > li > span {
    display:inline-block;
    min-width:22px;
    float: left;
    color:#111111;
    font:normal 14px ProximanovaSemiBold;
    text-decoration: none;
    background-color: #ffffff;
    border:solid 1px #ffffff;
    border-radius:0;
    padding:5px 0;
    line-height: 14px;
    text-align: center;
}


.yiiPager li a:hover, .yiiPager li.active  a {
    background-color:#0066a1; 
    border:solid 1px #0066a1; 
    border-radius: 2px; 
    color:#fff;
}
/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
    display: inline;
}

.list-view .summary {
    margin: 0 0 5px 0;
    text-align: right;
    width: 200px !important;
    float: right;
    padding-top:10px;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
    float: left;
}