

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #4B4E50;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-size: 18px;   
}

h3 {
    font-size: 16px;   
}

h4 {
    font-size: 13px;   
}

h6 {
   font-size: 9px; 
}

h4.inline {
    display: inline;   
}

.semi-bold {
    font-weight: 600;   
}

.primary-link {
    color: #F58707;   
}

.primary-link:hover {
    color: #E57E05;
    text-decoration: none;
}

.modal-header-custom {
    background-color: #EBEDEE;   
}

div#dp3.input-group.date input.form-control {
    width: 110px;  
}


/* plan page header */

.plan-header-dropdown {
    padding-top: 14px;
    padding-left: 15px;
    font-size: 18px;
}

ul.plan-details li {
    padding-left: 24px;  
}

ul.plan-details li h4 {
    line-height: 60px;   
}

ul.plan-action-items li:first-child {
    padding-right: 20px;   
}



/* top header */

#top-header a {
    color: #4B4E50;
}

#top-header .active-custom a {
    background-color: #F8F8F8;
    height: 60px;
    border-top: 3px solid #F58707;
    line-height: 25px
}

.navbar {
    margin-bottom: 0px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 10px;
}

.navbar-brand {
    padding-top: 8px;
    padding-left: 28px;
}

img.vendor-logo {
    width: 140px; 
    height: 36px;
    margin-top: 2px;
}

#top-header {
    height: 60px;
    border-style: none;
}

nav#top-header .container-fluid {
    background-color: white;   
}

nav#top-header a {
   line-height: 30px; 
}

nav#top-header p {
   line-height: 30px; 
}

nav#top-header form {
   padding-top: 6px; 
}




/* filter bar */

#filter-bar .navbar-nav > li > a {
    padding-top:8px !important; 
    padding-bottom:8px !important; 
    font-size: 13px;
}

.navbar {min-height:30px !important}

#filter-bar {
    border-style: none;
}

#filter-bar .container-fluid { 
    padding: 0 0 0 0;
    background-color: #47535B;
}

#filter-bar #bs-example-navbar-collapse-1 {
    background-color: #47535B; 
    padding: 0 0 0 0;
}

#filter-bar a.dropdown-custom1 {
    color: #CCD2D6;
    text-shadow: none;
}

#filter-bar a.dropdown-custom1:hover {
    background-color: #596369;
    color: white;
}

#filter-bar ul.dropdown-menu-custom a:hover {
    color: #4B4E50;
}

.dropdown-menu-custom {
    color: white;
    background-color: #596369;
}

.dropdown-menu-container {
    padding: 12px;
}

.btn-primary-custom1 {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background: #F58707;
    border: 1px solid #D67F19;
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
    -moz-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
    box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
    
}

.btn-primary-custom1:hover {
    color: white;
    background-color: #DE7A07;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #CD7209;
    -moz-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #CD7209;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #CD7209;
    box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
}

ul.navbar-nav button {
    margin-top: 14px;
    margin-left: 20px;
}

.slider-container {
    width: 280px !important;
}


.slider {
    width: 120px !important;
}


/* content */

#content {
    margin-top: 100px;   
}

#map {
    position: relative;
    padding-right: 0;
}

#map_canvas {
    height: 700px;
}

.wrapper {
    padding-top: 16px;
}

#content p {
    font-size: 13px;
 }

/* detailed view */

#detailed-view {
    width: 400px;
    height: 600px;
    background-color: #E3E5E6 ;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 0 10px;
    overflow: scroll;
}


.detailed-view-container {
    background-color: white;
    padding: 10px 8px 0 8px;
}

.glyphicon-custom {
    color: #576573;
    padding-top: 10px;
}

#detailed-view-carousel {
    margin-top: 12px; 
    margin-bottom: 12px;
}

.section-custom {
    height: 40px;
}

.star-empty-custom {
    padding-top: 6px;
    padding-left: 14px;
    font-size: 18px;
    color: #D8D8D8;
}

.table-custom {
    margin-top: 12px;   
}

.btn-primary-custom2 {
    border: 1px solid #F58707;
    background-color: white;
    color: #F58707;
    font-weight: 600;
}

.btn-primary-custom2:hover {
    background-color: #F58707;
    color: white;
    border: none;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
    -moz-box-shadow: 0px 0px 2px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
    box-shadow: 0px 0px 2px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
}

/* common styles */

.glyphicon-medium {
    font-size: 18px;
    color: red;
}

.glyphicon-large {
    font-size: 28px; 
}

/* list view */

#site-list {  
    border-radius: 0px;
    margin-top: 50px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.075);
    -moz-box-shadow: 0 0px 0px rgba(0,0,0,.075);
box-shadow: 0 0px 0px rgba(0,0,0,.075);
}

#site-list-container {
    position: relative;
    background-color: #EBEDEE;
    height: 100%;
    padding-left: 12px;
    border-left: 1px solid #CCD1D3;
    overflow: scroll;
}


#sort {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #EBEDEE;
    padding-bottom: 10px;
    padding-top: 10px;
}

.popover {
    border-style: none;
    z-index: 1000;
}

.popover-content {
    background-color: #EBEDEE;
    padding: 0 0 7px 0;
    
}

.popover-title {
    background-color: #EBEDEE;
    border-bottom: 1px solid #B6BDC0;
}

.popover.left>.arrow:after {
    border-left-color: #EBEDEE;
}

.popover-content-custom {
    display: none;
}

ul.popover-mediaList {
    list-style: none;
    padding-left: 0px;
    color: #4B4E50;
 }

ul.popover-mediaList li {
    padding: 7px 13px 7px 13px;
    border-bottom: 1px solid #D5D9DC;
}

ul.popover-mediaList li:last-child {
    border-style: none;
}

ul.popover-mediaList li:hover {
    background-color: #E0E4E6;
}

.popover-title-custom {
    display: none;
 }


.btn-secondary {
    background-color: #EBEDEE;
    border: 1px solid #CCD2D6;
    color: #85898C;
}

.btn-secondary:hover {
    background-color: white;
    border: 1px solid #CCD2D6;
    color: #85898C;
}

.btn-secondary2 {
    background-color: white;
    border: 1px solid #CCD2D6;
    color: #85898C;
}

.btn-secondary2:hover {
    background-color: #EBEDEE;
    border: 1px solid #CCD2D6;
    color: #85898C;
}

.list-group-item {
    height: 73px;
    padding: 5px 6px 0 6px;
    margin-right: 13px;
    margin-top: 10px;
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
 
.small-btn {
    display: block;
    height: 26px;
    width: 26px;
    background-color: white;
    border: 1px solid #DDE1E5;
    color: #A6B1BA;
    border-radius: 4px;
    padding-top: 3px;
}

.small-btn.plus:hover, .small-btn.star:hover, .small-btn.minus:hover  {
    background-color: #F58707;
    color: white;
    border: none;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
    -moz-box-shadow: 0px 0px 2px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
    box-shadow: 0px 0px 2px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
}

#site-list-container .small-btn {
    margin-bottom: 6px;
    margin-top: 1px;
}

#site-list-container .minus {
    margin-top: 16px;
}

h4.list-group-item-heading {
    margin-left: 100px;  
}

a.list-group-item .list-group-item-heading {
    color: #4EA3D6;
}

.list-group-item-text {
    margin-left: 100px;
    font-size: 11px;
    font-weight: 200;
    padding-bottom: 10px;
}

.price {
    font-weight: 600;
}

.per-month {
    font-style: italic;
    font-weight: 200;
    font-size: 9px;
}

#content {
    height: 100%;
    margin-top: 0px;
}

#filter-bar {
    background-color: #47535B;
}

#filter-bar a {
    color: #CCD2D6;
}








/*
Modified By Chirag Gehlot
*/




#site-list-container
{
 width :31.333333%;   
}

#map{
    width :68.666667%;   
    
}

.search-control {
height: 31px;
padding: 6px 10px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}



@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
}

/* ---------- GENERAL ---------- */


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* ---------- CLASSES ---------- */

.container {
	margin: 50px auto;
	width: 680px;
}

/* ---------- Social Sidebar ---------- */

#social-sidebar {
	left: 0;
	margin-top: -75px; /* (li * a:width) / -2 */
	position: fixed;
	top: 60%;
    z-index:1000;
    
}

#social-sidebar li:first-child a { border-radius: 0 5px 0 0; }
#social-sidebar li:last-child a { border-radius: 0 0 5px 0; }

#social-sidebar a {
    background: #e1ffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1ffff), color-stop(7%,#e1ffff), color-stop(12%,#e1ffff), color-stop(12%,#fdffff), color-stop(30%,#e6f8fd), color-stop(54%,#c8eefb), color-stop(75%,#bee4f8), color-stop(100%,#b1d8f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#fdffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */

	color: #fff;
	display: block;
	height: 45px;
	font-size: 16px;
	line-height: 50px;
	position: relative;
	text-align: center;
	width: 45px;
    
}

#social-sidebar a:hover span {
	left: 130%;
	opacity: 1;
}

#social-sidebar a span {
    
	border-radius: 3px;
	line-height: 20px;
	left: -100%;
	margin-top: -16px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	padding: 4px 8px;
	position: absolute;
	-webkit-transition: opacity .3s, left .4s;
	-moz-transition: opacity .3s, left .4s;
	-ms-transition: opacity .3s, left .4s;
	-o-transition: opacity .3s, left .4s;
	transition: opacity .3s, left .4s;
	top: 50%;
  white-space: nowrap;
	z-index: -1;
}

#social-sidebar a span:before {
	content: "";
	display: block;
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
	z-index: -2;
    
}

#clearoption{
    left :57.8%;   
    position: fixed;
    font-size: 16px;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
    
    
    z-index:1000;
    -moz-border-radius-topleft: 35px;
    -webkit-border-top-left-radius: 35px;
     border-top-left-radius: 35px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 35px;
    -webkit-border-bottom-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    
}

#social-sidebar a[class*="drawing"]:hover,
#social-sidebar a[class*="drawing"] span,
#social-sidebar a[class*="drawing"] span:before { 
    
background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */


 }

#social-sidebar a[class*="audience"]:hover,
#social-sidebar a[class*="audience"] span,
#social-sidebar a[class*="audience"] span:before {
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
      }

#social-sidebar a[class*="visulization"]:hover,
#social-sidebar a[class*="visulization"] span,
#social-sidebar a[class*="visulization"] span:before { 
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
    
 }



