

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #4B4E50;  
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-size: 18px;   
}

h3 {
    font-size: 16px;   
}

h4 {
    font-size: 14px;   
}



.semi-bold {
    font-weight: 600;   
}


/* top header */

#top-header a {
    color: #4B4E50;
}

#top-header .active-custom a {
    background-color: #F8F8F8;
    height: 60px;
    border-top: 3px solid #E26726;
    line-height: 25px
}

.navbar {
    margin-bottom: 0px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 10px;
}

img.vendor-logo {
    width: 140px; 
    height: 60px;
    margin-top: -10px;
}



nav#top-header .container-fluid {
    background-color: white;   
}

nav#top-header a {
   line-height: 30px;
   margin-left: 2px;
}

nav#top-header p {
   line-height: 30px; 
}

nav#top-header form {
   padding-top: 6px; 
}


/* filter bar */

#filter-bar .navbar-nav > li > a {
    padding-top:5px !important; 
    padding-bottom:5px !important; 
    font-size: 13px;
}

.navbar {min-height:30px !important}

#filter-bar {
    border-style: none;
}

#filter-bar .container-fluid { 
    padding: 0 0 0 0;
    background-color: #47535B;
}

#filter-bar #bs-example-navbar-collapse-1 {
    background-color: #47535B; 
    padding: 0 0 0 0;
}

#filter-bar a.dropdown-custom1 {
    color: #CCD2D6;
    text-shadow: none;
}

#filter-bar a.dropdown-custom1:hover {
    background-color: #596369;
    color: white;
}

#filter-bar a.dropdown-custom1:focus {
    background-color: #596369;
    color: white;
}

#filter-bar ul.dropdown-menu-custom a:hover {
    color: #4B4E50;
}

.dropdown-menu-custom {
    color: white;
    background-color: #596369;
}

.btn-primary-custom1 {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background: #F58707;
    border: 1px solid #D67F19;
    border-radius: 4px;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
    -moz-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
    box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
    
}

.btn-primary-custom1:hover {
    color: white;
    background-color: #DE7A07;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #CD7209;
    -moz-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #CD7209;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #CD7209;
    box-shadow: 0px 3px 4px 0px rgba(88,88,88,0.50), inset 0px -1px 0px 0px #D67F19;
}

ul.navbar-nav button {
    margin-left: 20px;
}


/* content */

#content {
    margin-top: 100px;   
}

#map {
    position: relative;
}

#map_canvas {
    height: 700px;
}



/* detailed view */

#detailed-view {
    width: 400px;
    height: 700px;
    background-color: #E3E5E6 ;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 0 10px;
}


.detailed-view-container {
    background-color: white;
    padding: 10px 8px 0 8px;
}

.glyphicon-custom {
    color: #576573;
    padding-top: 10px;
}

#detailed-view-carousel {
    margin-top: 12px; 
    margin-bottom: 12px;
}

.section-custom {
    height: 40px;
}

.star-empty-custom {
    padding-top: 6px;
    padding-left: 14px;
    font-size: 18px;
    color: #D8D8D8;
}

.table-custom {
    margin-top: 12px;   
}

.btn-primary-custom2 {
    border: 1px solid #D8D8D8;
    background-color: white;
    color: #1DBA81;
    font-weight: 600;
}

.btn-primary-custom2:hover {
    background-color: #F6F6F6;
    color: #129B69;
}


/* list view */


.site-list-container {
    background-color: #EBEDEE;
    height: 700px;
    padding-top: 10px;
}

.btn-secondary {
    background-color: #EBEDEE;
    border: 1px solid #CCD2D6;
    color: #85898C;
}

.list-group-item {
    height: 73px;
    padding: 5px 5px 0 6px;
    margin-right: 13px;
    margin-top: 10px;
}
 
.small-btn {
    display: block;
    height: 28px;
    width: 28px;
    background-color: white;
    border: 1px solid #D6D6D6;
    color: #969A9D;
    padding-top: 4px;
}

.minus {
    margin-top: 10px;   
}

.site-list-container .small-btn {
    margin-bottom: 4px;
}

h4.list-group-item-heading {
    margin-left: 100px;  
}

a.list-group-item .list-group-item-heading {
    color: #4EA3D6;
}

.list-group-item-text {
    margin-left: 100px;
    font-size: 11px;
    font-weight: 200;
    padding-bottom: 10px;
}

.price {
    font-weight: 600;
}

.per-month {
    font-style: italic;
    font-weight: 200;
    font-size: 9px;
}

#content {
    height: 90%;
}

#filter-bar {
    background-color: #47535B;
}

#filter-bar a {
    color: #CCD2D6;
}
















